name: CI

on:
  push:
    branches: [ main, feat/* ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    # This forces the steps to run inside Alpine
    container: node:${{ matrix.node-version }}-alpine

    strategy:
      matrix:
        node-version: [ 18, 20, 22 ]

    steps:
      # Alpine is minimal, so we often need to install git for checkout to work perfectly
      - name: Install prerequisites
        run: apk add --no-cache git

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm test